VITE_SUPABASE_URL=https://yqqzdkhelrzxhniygoxd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxcXpka2hlbHJ6eGhuaXlnb3hkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYyMTYwMTksImV4cCI6MjA4MTc5MjAxOX0.rQCFQZcPw0Y6tOQc-XUNJ6N1ZVjzHY3GONTnLY6OFAQ
